<div class="row">
  <div class="columns small-12">
    <div class="l-header <%= class_name %>">
      <div class="logo">
        <a href="/">
          Home
        </a>
      </div>
      <div class="desktop">
        <ul class="c-navigation <%= class_name %>">
          <li class="text -menu <%= "-active" if controller_name == 'dashboards' %>"><%= link_to 'Cost data', '/dashboards/global' %></li>
          <li class="text -menu <%= "-active" if controller_name == 'countries' %>"><%= link_to 'Current Funding', countries_show_path %></li>
          <li class="text -menu <%= "-active" if controller_name == 'about' %>"><%= link_to 'About', about_path %></li>
        </ul>
      </div>
      <div class="js-btn-mobile-menu mobile">
        <svg class="icon -open"><use xlink:href="#icon-menu"></use></svg>
        <svg class="icon -close"><use xlink:href="#icon-close"></use></svg>
      </div>
      <div class="c-mobile-menu <%= class_name %>">
        <ul class="c-navigation <%= class_name %>">
          <li class="text -menu <%= "-active" if controller_name == 'dashboards' %>"><%= link_to 'Cost data', '/dashboards/global' %></li>
          <li class="text -menu <%= "-active" if controller_name == 'countries' %>"><%= link_to 'Current Funding', countries_show_path %></li>
          <li class="text -menu <%= "-active" if controller_name == 'about' %>"><%= link_to 'About', about_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
