<ul class="c-navigation <%= @className %>">
  <li>
  <li class="text -menu <%= "-active" if controller_name == 'dashboards' %>"><%= link_to 'Regional data', '/dashboards/region/sub-saharan-africa' %></li>
  <li class="text -menu <%= "-active" if controller_name == 'countries' %>"><%= link_to 'Current Funding', countries_show_path %></li>
  <li class="text -menu <%= "-active" if controller_name == 'about' %>"><%= link_to 'About', about_path %></li>
</ul>
