<div class="l-content-large -home -image">
  <%= render 'shared/header', class_name: '-transparent' %>
  <%= render 'shared/share_menu', class_name: '-transparent' %>
  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="c-cta -header">
        <h1 class="text -cta-title-header -light">Investing in Nutrition</h1>
        <p class="text -cta-text -light">Malnutrition kills millions of children every year and robs millions more of the opportunity to reach their full potential. In 2012, world leaders committed to reaching <a href="http://www.who.int/nutrition/global-target-2025/en/" target="_blank" rel="noopener">six global nutrition targets</a> by 2025. To meet these targets, the world will need to spend an estimated $70 billion on top of current funding in the next 10 years. This is achievable, but world leaders must act now to fulfill their promises. The analysis presented here, demonstrates how all stakeholders can work together to close the resource gap and save millions of lives.</p>
      </div>
    </div>
  </div>
  <div class="smooth-scroll">
    <a href="#map-section" class="js-btn-smooth-scroll">
      <svg class="icon"><use xlink:href="#icon-scroll"></use></svg>
    </a>
  </div>
</div>

<div id="map-section" class="l-map l-ajax-loader">
  <%= render 'impact-map'%>
</div>

<ul class="c-tabs-links row">
  <li class="columns small-12 large-3">
    <a href="#stunting" class="active -stunting">
      <h3 class="text -subtitle">Stunting</h3>
    </a>
  </li>
  <li class="columns small-12 large-3">
    <a href="#wasting" class="-wasting">
      <h3 class="text -subtitle">Wasting</h3>
    </a>
  </li>
  <li class="columns small-12 large-3">
    <a href="#anemia" class="-anemia">
      <h3 class="text -subtitle">Anemia</h3>
    </a>
  </li>
  <li class="columns small-12 large-3">
    <a href="#ebf" class="-ebf">
      <h3 class="text -subtitle">Exclusive breastfeeding</h3>
    </a>
  </li>
</ul>

<div class="l-tabs" id="tabs">
  <div id="stunting" class="l-content-large -stunting pannel">
    <%= render 'impact-stunting'%>
  </div>

  <div id="wasting" class="l-content-large -wasting pannel">
    <%= render 'impact-wasting'%>
  </div>

  <div id="anemia" class="l-content-large -anemia pannel">
    <%= render 'impact-anemia'%>
  </div>

  <div id="ebf" class="l-content-large -breastfeeding pannel">
    <%= render 'impact-breastfeeding'%>
  </div>
</div>

<div class="l-content-large -others -last">
  <%= render 'impact-others'%>
</div>
