<!-- <a href="{{current_burden}}">Prevalence of nutritional conditions</a>
<a href="{{cost_packages}}">Cost of meeting targets</a>
<a href="{{cost_meeting_targets}}">Cost of packages</a>
<a href="{{scenario_comparison}}">Scenario Comparison</a> -->
{{#each data}}
  <a href="{{link}}">{{name}}</a>
{{/each}}
