<!DOCTYPE html>
<html>
  <head>
    <title>Nutritions Dashboard</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Raleway:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
      <symbol id="icon-logo" viewBox="0 0 131 32">
      <title>logo</title>
      <path class="path1" fill="#81786b" d="M38.587 13.268h1.611v-3.309h1.548l1.761 3.309h1.798l-1.823-3.309c-0.175-0.312-0.3-0.437-0.3-0.437 0.937-0.4 1.499-1.386 1.499-2.448 0-1.174-0.562-2.023-1.449-2.423-0.387-0.175-0.824-0.25-1.786-0.25h-2.86v8.866zM40.198 8.56v-2.772h1.224c1.261 0 1.623 0.524 1.623 1.374 0 0.887-0.537 1.399-1.399 1.399h-1.449zM46.999 13.268h5.507v-1.386h-3.896v-2.385h2.985v-1.386h-2.985v-2.323h3.696v-1.386h-5.307v8.866zM53.701 12.207s1.086 1.211 3.059 1.211c1.848 0 2.922-1.186 2.922-2.597 0-2.835-4.171-2.448-4.171-4.021 0-0.624 0.587-1.061 1.336-1.061 1.111 0 1.961 0.774 1.961 0.774l0.699-1.311s-0.899-0.949-2.647-0.949c-1.698 0-2.972 1.099-2.972 2.572 0 2.722 4.183 2.448 4.183 4.034 0 0.724-0.612 1.074-1.286 1.074-1.249 0-2.21-0.937-2.21-0.937l-0.874 1.211zM61.364 10.084c0 1.986 1.436 3.334 3.584 3.334 2.135 0 3.572-1.349 3.572-3.334v-5.682h-1.611v5.669c0 1.199-0.787 1.873-1.973 1.873s-1.961-0.674-1.961-1.861v-5.682h-1.611v5.682zM70.837 13.268h5.445v-1.386h-3.834v-7.48h-1.611v8.866zM78.887 13.268h1.611v-7.48h2.91v-1.386h-7.43v1.386h2.91v7.48zM84.102 12.207s1.086 1.211 3.059 1.211c1.848 0 2.922-1.186 2.922-2.597 0-2.835-4.171-2.448-4.171-4.021 0-0.624 0.587-1.061 1.336-1.061 1.111 0 1.961 0.774 1.961 0.774l0.699-1.311s-0.899-0.949-2.647-0.949c-1.698 0-2.972 1.099-2.972 2.572 0 2.722 4.183 2.448 4.183 4.034 0 0.724-0.612 1.074-1.286 1.074-1.249 0-2.21-0.937-2.21-0.937l-0.874 1.211zM95.12 13.268h1.611v-3.584h2.935v-1.386h-2.935v-2.51h3.484v-1.386h-5.095v8.866zM101.309 8.773c0 2.61 1.973 4.645 4.583 4.645s4.583-2.035 4.583-4.645c0-2.535-1.973-4.521-4.583-4.521s-4.583 1.986-4.583 4.521zM102.97 8.773c0-1.748 1.299-3.047 2.922-3.047s2.922 1.299 2.922 3.047c0 1.823-1.299 3.172-2.922 3.172s-2.922-1.349-2.922-3.172zM112.306 13.268h1.611v-3.309h1.549l1.761 3.309h1.798l-1.823-3.309c-0.175-0.312-0.3-0.437-0.3-0.437 0.937-0.4 1.499-1.386 1.499-2.448 0-1.174-0.562-2.023-1.449-2.423-0.387-0.175-0.824-0.25-1.786-0.25h-2.86v8.866zM113.917 8.56v-2.772h1.224c1.261 0 1.623 0.524 1.623 1.374 0 0.887-0.537 1.399-1.399 1.399h-1.449zM38.587 27.317h3.022c2.735 0 4.521-1.648 4.521-4.446s-1.786-4.421-4.521-4.421h-3.022v8.866zM40.198 25.931v-6.094h1.324c1.773 0 2.947 1.061 2.947 3.035 0 1.998-1.149 3.059-2.947 3.059h-1.324zM48.011 27.317h5.507v-1.386h-3.896v-2.385h2.985v-1.386h-2.985v-2.323h3.696v-1.386h-5.307v8.866zM57.484 27.317h1.598l3.234-8.866h-1.723l-1.961 5.782c-0.175 0.512-0.325 1.299-0.337 1.299h-0.025c-0.013 0-0.162-0.787-0.337-1.299l-1.948-5.782h-1.736l3.234 8.866zM63.624 27.317h5.507v-1.386h-3.896v-2.385h2.985v-1.386h-2.985v-2.323h3.696v-1.386h-5.307v8.866zM70.999 27.317h5.445v-1.386h-3.834v-7.48h-1.611v8.866zM77.164 22.821c0 2.61 1.973 4.645 4.583 4.645s4.583-2.035 4.583-4.645c0-2.535-1.973-4.521-4.583-4.521s-4.583 1.986-4.583 4.521zM78.825 22.821c0-1.748 1.299-3.047 2.922-3.047s2.922 1.299 2.922 3.047c0 1.823-1.299 3.172-2.922 3.172s-2.922-1.349-2.922-3.172zM88.161 27.317h1.611v-3.059h1.811c1.661 0 2.822-1.199 2.822-2.922s-1.161-2.885-2.822-2.885h-3.422v8.866zM89.772 22.859v-3.022h1.536c0.912 0 1.461 0.587 1.461 1.499 0 0.924-0.549 1.523-1.486 1.523h-1.511zM95.749 27.317h1.611l0.375-4.958c0.037-0.587 0.013-1.386 0.013-1.386 0.025 0 0.3 0.874 0.512 1.386l1.424 3.434h1.411l1.436-3.434c0.212-0.512 0.475-1.374 0.475-1.374 0.025 0 0 0.787 0.037 1.374l0.375 4.958h1.598l-0.712-8.866h-1.723l-1.736 4.383c-0.2 0.524-0.437 1.299-0.437 1.299-0.025 0-0.275-0.774-0.475-1.299l-1.736-4.383h-1.723l-0.724 8.866zM107.183 27.317h5.507v-1.386h-3.896v-2.385h2.985v-1.386h-2.985v-2.323h3.696v-1.386h-5.307v8.866zM114.558 27.317h1.611v-5.108c0-0.524-0.087-1.374-0.087-1.374h0.025s0.4 0.862 0.737 1.374l3.359 5.108h1.598v-8.866h-1.598v5.12c0 0.524 0.087 1.374 0.087 1.374h-0.025s-0.4-0.862-0.737-1.374l-3.359-5.12h-1.611v8.866zM126.080 27.317h1.611v-7.48h2.91v-1.386h-7.43v1.386h2.91v7.48z"></path>
      <path class="path2" fill="#00a3b7" d="M0 0h32v32h-32z"></path>
      <path class="path3" fill="#fff" d="M14.569 23.313l-0.011 5.565h6.167c4.282 0 7.226-2.978 7.226-7.524 0-4.503-2.944-7.522-7.226-7.522h-3.213l0.926 1.258h2.145c3.49 0 5.907 2.47 5.907 6.265 0 3.817-2.396 6.267-5.907 6.267h-4.625l0.002-4.305h2.021l-1.007-1.267h-5.758l3.369-3.366v2.101h1.298v-2.81l-1.23-1.455-4.792 4.792 0.020 2.001h4.691zM4.411 17.171h1.4v-6.007l6.737 0.035 4.165 5.955h1.603s-4.254-6.024-4.246-6.024c3.255 0.023 4.474-2.219 4.474-4.147 0-1.725-0.812-3.083-2.151-3.673-0.57-0.244-1.218-0.386-2.679-0.386l-9.307-0.023v14.269zM5.811 9.906v-5.743l7.969 0.023c1.095 0 1.602 0.122 2.029 0.345 0.831 0.446 1.298 1.319 1.298 2.496 0 1.786-1.099 2.902-2.824 2.902l-8.476-0.023z"></path>
      </symbol>
      </defs>
    </svg>
  </head>

  <body>
    <%= render 'shared/header'%>
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
